.choose_file{
    position:relative;
    display:inline-block;    
	border-radius:2px;
    border:1px solid #DADADA;
    width:300px; 
    padding: 8px 6px 4px 8px;
    font: normal 14px Myriad Pro, Verdana, Geneva, sans-serif;
    color: #7f7f7f;
    margin-top: 2px;
	background:#F5F5F5;
    height: 40px;
}
.choose_file input[type="file"]{
    -webkit-appearance:none; 
    position:absolute;
    top:0; left:0;
    opacity:0; 
}
.main_header_link{
	background-color: #E9EDF5;
	width: 100%;

    .heading_inside{
	background-color: #e9edf5;
    width: 150px;
    border-right: 1px solid #e0e6e6;
    text-align: center;
    :focus{
        outline: none;
    }
	.header_link{
		padding: 39px 15px;
	}  
	}   
}
 .contact_import_details{
        width: 450px;
        height: 300px;
        margin: 10px 10px 10px 5px;
        .import_contact_div{
            width: 430px;
            height: 100px;
            margin: 10px 10px 40px 20px;
            .import_page_lbl{
                margin: 10px 0px 10px 0px;
                font-family: "verdana";
                font-size: 15px;
                font-weight: normal;
            }
            .upload_btn{
                width: 100px;
                height: 40px;
                background-color: #0BAFEE;
                margin-left: 10px;
                margin-top: -2px;
                border-radius: 1px;
                color: #FFFDFD;
                font-family: verdana;
            }
        }
        .import_redemption_code_div{
            width: 430px;
            height: 100px;
            margin: 10px 10px 10px 20px;
            .import_page_lbl{
                margin: 10px 0px 10px 0px;
                font-family: "verdana";
                font-size: 15px;
                font-weight: normal;
            }
            .upload_btn{
                width: 100px;
                height: 40px;
                background-color: #0BAFEE;
                margin-left: 10px;
                margin-top: -2px;
                border-radius: 1px;
                color: #FFFDFD;
                font-family: verdana;
            }
        }
}